<!-- views/partials/header.ejs -->

<!--   GAMES BAR  -----------------------------------------  -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-17">
            <table border=1 width="100%">
                <tbody>
                    <tr>
                        <td align="center">WEEK
                            <br>
                            <%=
                            games.rows[0].week
                            %>
                        </td>
                        <%
                        console.log("*** header.ejs - twGames length: " + games.rows.length);
                        for (var i=0; i < games.rows.length; i++) { %>
                        <td align="justify">
                            <%=
                            games.rows[i].away_team + ' ' + games.rows[i].away_score
                            %>
                            <br>
                            <%=
                            games.rows[i].home_team + ' ' + games.rows[i].home_score
                            %>
                            <br>
                            <%
                            if (games.rows[i].final === 'false') {
                                %>
                                <%=
                                games.rows[i].day_time
                                %>
                                <%
                            } else { %>
                                FINAL
                                <%
                            }
                            %>
                        </td>
                        <%
                        }
                        %>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--   END GAMES BAR  -----------------------------------------  -->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-17">
            <table border=1 width="100%">
                <tbody>
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col-md-1">
                                    WEEK
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1 text-center">
                                    <%=
                                    games.rows[0].week
                                    %>
                                </div>
                            </div>
                        </td>

                        <% console.log("*** header.ejs - twGames length: " + games.rows.length);
                        for (var i=0; i < games.rows.length; i++) { %>

                            <td>
                                <div class="row">
                                    <div class="col-md-1">
                                        <%=
                                        games.rows[i].away_team
                                        %>
                                    </div>
                                    <div class="col-md-1">
                                        <%=
                                        games.rows[i].away_score
                                        %>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1">
                                        <%=
                                        games.rows[i].home_team
                                        %>
                                    </div>
                                    <div class="col-md-1">
                                        <%=
                                        games.rows[i].home_score
                                        %>
                                    </div>
                                </div>
                                <%
                                if (games.rows[i].final === 'false') {
                                    %>
                                    <%=
                                    games.rows[i].day_time
                                    %>
                                    <%
                                } else { %>
                                    FINAL
                                    <%
                                }
                                %>
                            </td>
                        <%
                        }
                        %>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!--   NAVIGATION BAR  -----------------------------------------  -->

<!-- Start of STYLE for Navigation Bar  ----------------------------- -->
<style>
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
}

li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

a:hover:not(.active) {
background-color: #111;
}

.active {
background-color:#4CAF50;
}
</style>
<!-- End of STYLE for Navigation Bar  ----------------------------- -->


<div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-inverse">
            <!--
            <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteNameLink</a>
            </div>
            -->
            <ul class="nav navbar-nav">
                <li class="active" ><a href="/home">Home</a></li>
                <li><a href="/standings">Standings</a></li>
                <li><a href="/rosters">Rosters</a></li>
                <li><a href="/lineup">Line Ups</a></li>
                <li><a href="/scoring">Scoring</a></li>
                <li><a href="/moves">Moves</a></li>
                <li><a href="/draft">Draft</a></li>
                <li><a href="/trades">Trades</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/rules">Rules</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/signin">Sign In</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </div>
</div>
<!--   END NAVIGATION BAR  -----------------------------------------  -->

<!--   USER INFORMATION BAR  -----------------------------------------  -->
<div class="container-fluid">
    <div class="row">
        <table class="table table-striped table-bordered table-condensed" width="100%">
            <tbody>
                <tr>
                    <div class="col-md-1">
                        <td>Owner:
                            <%
                            if (!owner) {
                                %>
                                UNKNOWN
                                <%
                            } else { %>
                                <%=
                                owner.rows[0].full_name
                                %>
                                <%
                            }
                            %>
                        </td>
                    </div>
                    <div class="col-md-1">
                        <td>Rank:<%=  %>
                        </td>
                    </div>
                    <div class="col-md-1">
                        <td>Last Week Tot:<%=  %>
                        </td>
                    </div>
                    <div class="col-md-1">
                        <td>This Week Tot:<%=  %>
                        </td>
                    </div>
                    <div class="col-md-1">
                        <td>Grand Tot:<%=  %>
                        </td>
                    </div>
                    <div class="col-md-1">
                        <td>AVG:<%=  %>
                        </td>
                    </div>
                    <div class="col-md-1">
                        <td>Pts Out:<%=  %>
                        </td>
                    </div>
                    <div class="col-md-1">
                        <td>Winnings:<%=  %>
                        </td>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!--   END USER INFORMATION BAR  -----------------------------------------  -->
