
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Fantasy Standings</title>

    <!--  Include the Common Head file from the Partials Folder ---------  -->
    <% include ../partials/head %>
    <!--  Figure out how to move the css stuff into this file
      include ../public/css/svfl.css
    -->

</head>

<body>
<!--
  <div>
    <center>
      <h1>SVFL Standings Page</h1
    </center>
  </div>
-->

<header>
  <!-- Include the Navagation bar on the page  ------------------------- -->
  <% include ../partials/header %>
</header>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">

            <table class="table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th align="center">Pos.</th>
                        <th align="center">Owner</th>
                        <th>Last Week Totals</th>
                        <th>This Week Totals</th>
                        <th>Grand Totals</th>
                        <th>Weekly Avg.</th>
                        <th>Current Winnings</th>
                        <th>Points from Playoffs</th>
                    </tr>
                </thead>
                <tbody>
                    <% console.log("*** standings.ejs - result length: " + standings.rows.length);
                        for (var i=0; i < standings.rows.length; i++) {
                    %>
                        <div class="col-xs-12">
                            <tr>
                                <td align="center">
                                    <%= i +1 %>
                                </td>
                                <td>
                                    <%=
                                    standings.rows[i].first_name + " " + standings.rows[i].last_name
                                    %>
                                </td>
                                <td align="center">
                                    <%= standings.rows[i].last_week_totals%>
                                </td>
                                <td align="center">
                                    <%= standings.rows[i].this_week_totals%>
                                </td>
                                <td align="center">
                                    <%= standings.rows[i].grand_totals%>
                                </td>
                                <td align="center">
                                    <%= standings.rows[i].weekly_average%>
                                </td>
                                <td align="center">
                                    <%= standings.rows[i].current_winnings%>
                                </td>
                                <td align="center">
                                    <%= standings.rows[i].points_from_playoffs%>
                                </td>
                            </tr>
                            <%
                        }
                        %>
                    </div>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
    </div>
</div>

<!-- *******   4 by 4 grid of Owner Line up/results for the week *********** -->
<div class="container-fluid">
    <div class="row">

<!--  Owner line up table ---------  -->
        <div class="col-sm-3">
            <table class="table table-striped table-bordered  table-condensed">
                <thead border="1">
                    <tr>
                        <th>Owner</th>
                        <th></th>
                        <th></th>
                        <th>Start</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody border="2">
                    <% %>
                    <tr>
                        <td>Player
                            <%= %>
                        </td>
                        <td align="center">Team
                            <%=  %>
                        </td>
                        <td align="center">Position
                            <%= %>
                        </td>
                        <td align="center">Y/N
                            <%= %>
                        </td>
                        <td align="center">0
                            <%= %>
                        </td>
                    </tr>
                    <%

                    %>
                </tbody>
            </table>
        </div>

<!--  Owner line up table ---------  -->

        <div class="col-sm-3">
            <table class="table table-striped table-bordered table-condensed">
                <thead border="1">
                    <tr>
                        <th>Owner</th>
                        <th></th>
                        <th></th>
                        <th>Start</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody border="2">
                    <% %>
                    <tr>
                        <td>Player
                            <%= %>
                        </td>
                        <td align="center">Team
                            <%=  %>
                        </td>
                        <td align="center">Position
                            <%= %>
                        </td>
                        <td align="center">Y/N
                            <%= %>
                        </td>
                        <td align="center">0
                            <%= %>
                        </td>
                    </tr>
                    <%

                    %>
                </tbody>
            </table>
        </div>

        <!--  Owner line up table ---------  -->

        <div class="col-sm-3">
            <table class="table table-striped table-bordered table-condensed">
                <thead border="1">
                    <tr>
                        <th>Owner</th>
                        <th></th>
                        <th></th>
                        <th>Start</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody border="2">
                    <% %>
                    <tr>
                        <td>Player
                            <%= %>
                        </td>
                        <td align="center">Team
                            <%=  %>
                        </td>
                        <td align="center">Position
                            <%= %>
                        </td>
                        <td align="center">Y/N
                            <%= %>
                        </td>
                        <td align="center">0
                            <%= %>
                        </td>
                    </tr>
                    <%

                    %>
                </tbody>
            </table>
        </div>

                <!--  Owner line up table ---------  -->

        <div class="col-sm-3">
            <table class="table table-striped table-bordered table-condensed">
                <thead border="1">
                    <tr>
                        <th>Owner</th>
                        <th></th>
                        <th></th>
                        <th>Start</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody border="2">
                    <% %>
                    <tr>
                        <td>Player
                            <%= %>
                        </td>
                        <td align="center">Team
                            <%=  %>
                        </td>
                        <td align="center">Position
                            <%= %>
                        </td>
                        <td align="center">Y/N
                            <%= %>
                        </td>
                        <td align="center">0
                            <%= %>
                        </td>
                    </tr>
                    <%

                    %>
                </tbody>
            </table>
        </div>

    </div>
</div>


<!-- *********************************************************************** -->

<!--  Include the Common Footer from the Partials Folder ---------  -->
<footer>
  <% include ../partials/footer %>
</footer>

</body>
</html>
